fastapi[all]==0.110.0
google-genai
python-multipart==0.0.9
pydub==0.25.1
python-dotenv==1.0.1
uvicorn[standard]
requests==2.31.0
supabase
psycopg2-binary==2.9.9
websockets
faster-whisper
transformers
torch
scipy
soundfile